.slateGray,
.split-pane:vertical > .split-pane-divider,
.split-pane:horizontal > .split-pane-divider,
.button,
.titled-pane > *.content,
.titled-pane > .title,
.list-cell:filled:selected,
.tree-cell:selected,
.scroll-bar:horizontal, .scroll-bar:vertical,
.scroll-pane > .corner,
.table-row-cell:odd,
.table-view .column-header .label,
.menu-item {
    -fx-background-color: #708090;
}

.darkSlateGray,
.root,
.tree-view, .tree-cell,
.list-view, .list-cell,
.titled-pane > *.content,
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb,
.table-view,
.table-row-cell {
    -fx-background-color: #383f46;
}

.split-pane:vertical > .split-pane-divider {
   -fx-border-width: 1 0 1 0;
   -fx-border-color: white;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-border-width: 0 1 0 1;
   -fx-border-color: white;
}

.button {
    -fx-text-fill: white;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: white;
}

.titled-pane > *.content,
.titled-pane > .title {
    -fx-text-fill: white;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: white;
}

.tree-view, .tree-cell,
.list-view, .list-cell,
.titled-pane > *.content {
     -fx-text-fill: white;
}

.list-view, .tree-view {
    -fx-border-width: 1 1 1 1;
    -fx-border-color: white;
}

.slider .axis { -fx-tick-label-fill: white; }

.scroll-pane {
   -fx-background-color: transparent;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical,
.scroll-pane > .corner {
    -fx-border-width: 1 1 1 1;
    -fx-border-color: white;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-border-width: 1 1 1 1;
    -fx-border-color: white;
}

.label,
.table-view .column-header .label,
.check-box,
.chart-legend,
.axis-label{
    -fx-text-fill: white;
}

.chart-legend .label {
    -fx-text-fill: black;
}

.axis {
    -fx-tick-label-fill: white;
}

.axis-tick-mark {
    -fx-stroke: white;
    -fx-stroke-width: 3;
}

.table-view {
    -fx-border-width: 1 1 1 1;
    -fx-border-color: white;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-border-width: 1 1 1 1;
    -fx-border-color: white;
}

.table-row-cell:odd {
    -fx-border-width: 1 1 1 1;
    -fx-border-color: white;
}


.table-view .column-header .label,
.menu-item {
    -fx-font-weight: bold;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: white;
}

#toolBarTop,
#menMain {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: white;
}

.whiteColor {
    -fx-text-fill: white;
}